body {
  max-width: 767px;
  font-family: "Roboto", "Shrikhand", sans-serif;
  margin: 0;
}
@media (min-width: 992px) {
  body {
    max-width: 100%;
    justify-content: center;
    margin: auto;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body {
    max-width: 100%;
    justify-content: center;
    margin: auto;
  }
}

h2 {
  font-weight: 800;
}

.loading {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  inset: 0;
  background-color: white 50%;
  z-index: 1;
  opacity: 0;
  animation: loading 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading i {
  animation: spinner 2s infinite linear;
  background: linear-gradient(to top, #9356DC, #FF79DA, #99E2D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 260px;
}

/*   HEADER   */
.header__homepage {
  text-align: center;
  margin: 15px;
}

/*   EXPLORATION    */
nav .location {
  background-color: #ECECEC;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #2E2E2E;
  box-shadow: inset 1px 3px 9px -6px;
}
nav .location__icon {
  padding-right: 15px;
  align-items: center;
}
nav .location__position {
  border: none;
  background-color: #ECECEC;
  font-size: 16px;
  font-weight: 600;
}
nav .explore {
  background-color: #F7F7F7;
  text-align: center;
  padding: 30px 20px 50px 20px;
}
nav .explore__title {
  margin: 0 0 10px 0;
}
nav .explore__subtiles {
  margin-bottom: 40px;
  color: #616161;
}
nav .explore__a {
  text-decoration: none;
}
nav .explore__btn {
  box-shadow: 4px 4px 10px rgba(173, 173, 173, 0.25);
  border-radius: 35px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  width: 200px;
  padding: 15px 20px 15px 20px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  margin: auto;
}
nav .explore__btn:hover {
  transform: scale(1.02);
}
nav .choice {
  padding: 15px 5px 5px 5px;
  margin-right: 20px;
}
nav .choice__title {
  padding-left: 20px;
}
nav .choice__counter {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  height: 22px;
  width: 26px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  margin: 0 30px 0 -45px;
  padding-top: 4px;
}
nav .choice__icon {
  margin-right: 15px;
  color: #797979;
}
nav .choice__steps {
  padding: 0px 20px 20px 50px;
  display: flex;
  flex-direction: column;
}
nav .choice__step {
  list-style-type: none;
  border-radius: 25px;
  align-items: center;
  margin: 0 0 20px 0;
  width: 90%;
  padding: 15px 15px 15px 30px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  background-color: #F7F7F7;
  box-shadow: 4px 4px 10px rgba(173, 173, 173, 0.25);
}
nav .choice__step:hover {
  background-color: #f0e9fa;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 4px 4px 10px rgba(173, 173, 173, 0.4);
}
nav .choice .choice__step:hover .choice__icon {
  color: #9356DC;
}

/*   RESTAURANTS   */
#meals {
  margin: 0;
  background-color: #F7F7F7;
  padding: 20px;
}

.meals__card {
  width: 100%;
  height: 280px;
  border-radius: 25px;
  margin-bottom: 35px;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(173, 173, 173, 0.25);
  position: relative;
  filter: brightness(100%);
}
.meals__card:hover {
  transform: scale(1.02);
}
.meals__card:hover {
  filter: brightness(1.1);
}
@media (max-width: 991px) and (min-width: 768px) {
  .meals__card {
    display: flex;
    flex-direction: column;
  }
  .meals__card__card {
    margin: 20px;
  }
}
.meals__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.meals__title {
  padding: 10px 0 5px 15px;
  margin: 0;
}
.meals__loc {
  margin: 0;
  padding-left: 15px;
}
.meals__new {
  background-color: #99E2D0;
  padding: 7px 15px 7px 15px;
  border-radius: 3px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #24a182;
}
.meals__checkbox {
  position: absolute;
  right: 40px;
  bottom: 25px;
  cursor: pointer;
  font-size: 28px;
}
.meals__checkbox input {
  display: none;
}

input[type=checkbox] + span:before {
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  color: inherit;
  font-size: 28px;
}

input[type=checkbox]:checked + span:before {
  content: "\f004";
  font-family: fontAwesome;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart 1s;
}

.meals a {
  text-decoration: none;
  color: black;
}

/* animation heart gradual fade */
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation loading spinner */
@keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/*   HEADER   */
.header {
  position: relative;
}
.header__nav {
  margin: 15px;
  text-align: center;
  width: 90%;
}
.header__icon {
  position: absolute;
  left: 50px;
  top: 10px;
  text-decoration: none;
  color: #2E2E2E;
  font-size: 20px;
  font-weight: 900;
}
@media (min-width: 992px) {
  .header__logo {
    margin-left: 8%;
  }
}

/*   MEALS   */
.list {
  /*   LISTS    */
}
.list__img {
  width: 100%;
  z-index: 1;
  position: relative;
  max-height: 30rem;
  object-fit: cover;
}
.list__choices {
  padding: 20px;
  border-radius: 50px 50px 0 0;
  background-color: #F7F7F7;
  margin: -80px 0 0 0;
  z-index: 10;
  position: relative;
}
.list__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.list__checkbox {
  position: absolute;
  right: 40px;
  top: 50px;
  cursor: pointer;
  font-size: 28px;
}
.list__checkbox input {
  opacity: 0;
}
.list__h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #797979;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
}
.list__dishes {
  padding-top: 20px;
}
.list__desserts {
  padding: 20px 0 0 0;
}
.list__meals {
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(173, 173, 173, 0.25);
  margin-bottom: 10px;
  position: relative;
  animation-fill-mode: both;
}
.list__meals:nth-child(1) {
  animation-delay: 100ms;
}
.list__meals:nth-child(2) {
  animation-delay: 200ms;
}
.list__meals:nth-child(3) {
  animation-delay: 300ms;
}
.list__meals:nth-child(4) {
  animation-delay: 400ms;
}
.list__meals:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.list__meals label {
  display: flex;
  cursor: pointer;
}
.list__meals input[type=checkbox]:checked + .list__check {
  transform: scaleX(1);
  flex: 25%;
}
.list__meals input[type=checkbox]:checked + .list__check .list__icon {
  transform: rotate(359deg);
  transition: transform 900ms;
}
.list__subtiles {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  flex: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list__name {
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list__details {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list__meals a {
  text-decoration: none;
  color: black;
}
.list__check {
  flex: 0%;
  white-space: nowrap;
  transform: translateX(100px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  right: 20px;
  transform: scaleX(0);
  transition: 300ms ease-in-out;
  transform-origin: right;
  color: white;
  font-size: 20px;
}
.list__btn {
  justify-content: center;
  display: flex;
  margin: 40px 0 60px 0;
}
.list__commandbtn {
  border-radius: 35px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  width: 200px;
  padding: 15px 20px 15px 20px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  margin: auto;
  box-shadow: 4px 4px 10px rgba(173, 173, 173, 0.25);
  border: none;
  padding: 15px 50px 15px 50px;
}
.list__commandbtn:hover {
  transform: scale(1.02);
}
.list__mealscheck {
  display: none;
}

/* animation heart gradual fade */
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation loading spinner */
@keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/*   FOOTER   */
.footer {
  padding: 30px 30px 20px 30px;
  background-color: rgb(63, 63, 63);
  color: white;
  margin: 0;
}
.footer__title {
  font-family: Shrikhand, sans-serif;
  font-weight: 300;
  color: white;
  margin: 0;
}
@media (min-width: 992px) {
  .footer__title {
    text-align: center;
    margin: auto;
  }
}
.footer__ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .footer__ul {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
.footer__links1 {
  font-size: 14px;
  padding: 4px;
  font-weight: 500;
}
@media (min-width: 992px) {
  .footer__links1 {
    margin: 20px 50px 20px 0;
  }
}
.footer__links2 {
  padding: 4px;
  font-size: 14px;
}
@media (min-width: 992px) {
  .footer__links2 {
    margin: 20px 50px 20px 0;
  }
}
.footer__icon {
  margin-right: 15px;
}

.footer a {
  text-decoration: none;
  color: white;
}

@media (min-width: 992px) {
  .navchoice {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .explore {
    border-radius: 20px;
  }

  .choice {
    margin: 0 50px 0 50px;
  }
  .choice__title {
    text-align: center;
  }
  .choice__steps {
    display: flex;
  }

  #meals h2 {
    text-align: center;
  }

  .meals {
    display: flex;
    flex-direction: row;
    margin: 0 50px 0 50px;
  }
  .meals__card {
    margin: 20px;
  }
}
@media (min-width: 992px) {
  .list__choices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    margin-top: -150px;
  }
  .list__title {
    text-align: center;
  }
  .list__h3 {
    width: 50%;
    text-align: center;
    margin-left: 25%;
  }
  .list__meals {
    margin: auto;
    width: 70%;
  }
  .list__meals__card {
    margin: 15px;
  }
  .list__boxmeals {
    justify-content: center;
  }
  .list__category {
    margin: 50px 20px 20px 20px;
    max-width: 100%;
  }
  .list__meals {
    margin-bottom: 10px;
  }
  .list__checkbox {
    right: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
