@use "../src/mixins";

@media (min-width: 991px) {
/*   HOMEPAGE  */    
    body {
        max-width: 100%;
        justify-content: center;
        margin: auto;
    }
    nav {
        .location {
        &__icon {
        font-size: 20px;
        }
        &__position {
        font-size: 20px;    
        }
        }
    }
    .explore a {
        @include mixins.transform;
    }
    .choice {
        margin: 0 200px 0 200px;

        }
    }
    #meals h2 {
        margin: 0 200px 20px 200px;
     }
    .meals {
        margin: 0 200px 0 185px;
        display: flex;
        flex-direction: row;
        &__card {
            margin: 15px;
        }
    }

/*  RESTAURANTS  */
.list {
    &__title {
        text-align: center;
    }
    &__choices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        margin-left: 200px;
    }
    &__meals-category {
        display: flex;
        justify-content: center;
        margin: 0 70px 0;
    }

}
   
/*   FOOTER   */
.footer {
    display: flex;
    &__title {
        margin-right: 50px;
    }
    &__ul {
        margin:0;
        display: flex;
    }
    &__links1 {
        padding: 0 7% 0 7%;
    }
    &__links2 {
        padding: 0 7% 0 7%;
    }

}