
@media (min-width: 991px) {
.footer__title {
text-align: center;      
}

footer ul {
    margin: 0;
    display: flex;    
    justify-content: center;
}   
.footer__links1 {
    margin: 20px 50px 20px 0;
}
.footer__links2 {
    margin: 20px 50px 20px 0;
}

}

