@use "../src/mixins";

/*   EXPLORATION    */
nav {
    .location {
        background-color: #e7e7e7;
        padding: 20px 20px 20px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: $greytext-color;
        box-shadow: inset 1px 3px 9px -6px;
        &__icon {
            padding-right: 15px;
            align-items: center;
        }
        &__position {
            border: none;
            background-color: #e7e7e7;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .explore {
        background-color: #f3f3f3;
        text-align: center;
        padding: 30px 20px 50px 20px;
        &__title {
            margin: 0 0 10px 0;
        }
        &__subtiles {
            margin-bottom: 40px;
            color: #616161;
        }
        &__btn {
            @include mixins.box-shadow;
            @include mixins.btn;
            }
           }  
                     
    .choice {
        padding: 15px 5px 5px 5px;
        margin-right: 20px;
        &__title {
            padding-left: 20px;
        }
        &__counter {
            @include mixins.counter;
        }
        &__icon {
            margin-right: 15px;
            &:hover {
                color: $primary-color;
            }
        }
        &__steps {
            padding: 0px 20px 20px 50px;
        }
        &__step {
            list-style-type: none;
            border-radius: 25px;
            align-items: center;
            margin: 0 0 20px 0;
            width: 90%;
            padding: 15px 15px 15px 30px;
            display: flex;
            flex-wrap: wrap;
            font-weight: bold;
            background-color: #F3F3F3;
            @include mixins.box-shadow;
                &:hover {
                    background-color: #f0e9fa;
                    cursor: pointer;
                    @include mixins.transform;
            }
        
        }
    }
    }
    
/*   RESTAURANTS   */
    #meals {
        margin: 0;
        background-color: #F3F3F3;
        padding: 20px;
    }
    .meals {
        &__card {
            width: 100%;
            height: 280px;
            border-radius: 25px;
            margin-bottom: 35px;
            background-color: white;
            @include mixins.box-shadow;
            position: relative;
            &:hover {
                @include mixins.transform;
            }
        }  
        &__img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
            }
        &__title {
            padding: 10px 0 5px 15px;
            margin: 0;
        }
        &__loc {
            margin: 0;
            padding-left: 15px;
        }
        &__new {
            @include mixins.new;
        }       
        &__checkbox {
            position: absolute;
            right: 30px;
            bottom: 25px;
            cursor: pointer;
            font-size: 28px;
        }
        &__checkbox input {   
            opacity: 0;
        }
    }
   
    input[type="checkbox"] + span:before {
        content: "\f004";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 500;
        color: inherit;
        font-size: 28px;
    }

    input[type="checkbox"]:checked + span:before {
        content: '\f004';
        font-family: fontAwesome;
        background: linear-gradient(to top left,$primary-color, $secondary-color);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
   
    .meals a {
        text-decoration: none;
        color: black;
    }