
@mixin box-shadow {
    box-shadow: 4px 4px 10px rgba(173, 173, 173, 0.25);
}

@mixin transform {
    transform: scale(1.02);
}

@mixin linearGradient {
    background-image: linear-gradient(to top left, #9356DC,$secondary-color);
}

@mixin new {
    background-color: #99E2D0;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    color:#24a182;
}

@mixin counter {
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 26px;
    font-size: 14px;
    text-align: center;
    font-weight: 300;  
    margin: 0 30px 0 -45px;
    padding-top: 4px;
}

@mixin btn {
    border-radius: 35px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 20px 15px 20px;
    background-image: linear-gradient(to top left,#9356DC, #FF79DA);
    transition : 0.2s ease-in-out;
    cursor: pointer;
}

@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}