
@use "../src/animations";

/*   HEADER   */
.header {
    position: relative;
    &__nav {
        margin: 15px;
        text-align: center;
        width: 90%;
    }
    &__icon {
        position: absolute;
        left: 50px;
        top: 10px;
        text-decoration: none;
        color: $greytext-color;
        font-size: 20px;
        font-weight: 900;      
    }
}
/*   MEALS   */
.list {
    &__img {
        width: 100%;
        z-index: 1;
        position: relative;
        max-height: 30rem;
        object-fit: cover;
    }
        &__choices {
        padding: 20px;
        border-radius: 50px 50px 0 0;
        background-color: $primary-background-color;
        margin: -80px 0 0 0;
        z-index: 10;
        position: relative;
        @media (min-width: 991px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            margin-left: 200px;
        }
    }
    &__title {
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        font-size: 30px;
        @media (min-width: 991px) {
            text-align: center;
        }
    }
    &__checkbox {
        position: absolute;
        right: 40px;
        top: 50px;
        cursor: pointer;
        font-size: 28px;
    }
    &__checkbox input {   
        opacity: 0;
    }
    /*   LISTS    */
    &__h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: $grey-color;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 5px;
        width: 40px;
        @media (min-width: 991px) {
            text-align: center;
        }
    }
    &__dishes {
        padding-top: 20px;
    }
    &__desserts {
        padding: 20px 0 0 0;
    }
    &__meals {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }
        background-color: white;
        border-radius: 20px;
        @include box-shadow;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        animation: appear 1s;
        animation-fill-mode: both;
        height: 60px;
        max-width: 100%;
        @media (min-width: 991px) {
            margin: 0 200px 0 185px;
            display: flex;
            flex-direction: row;
            &__card {
                margin: 15px;
            }
        }
    }
    &__subtiles {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px;
        width: 90%;
    }
    &__infos {
        display: flex;
        flex-direction:  row;
        justify-content: space-between;
        @include ellipsis;
    }
    &__name {
        font-weight: bold;
        margin: 0;
        @include ellipsis;
    }
    &__details {
        margin: 0;
        @include ellipsis;
    }
    &__check {
        margin-right: -30px;
        top: 0;
        background-color: $tertiary-color;
        padding: 20px;
        color: white;
        width: 30px;
        border-radius: 0 20px 20px 0;
        text-align: center;
        font-size: 20px;
        transition: 0.3s;
        opacity: 0;
        display: flex;
        @include box-shadow;
        &:hover {
            margin-right: 0;
            opacity: 1;
        }
    } 
    &__icon {
        border-radius: 100px;
    }
    &__meals a {
        text-decoration: none;
        color: black;
    }
    &__btn {
        justify-content: center;
        display: flex;
        margin: 40px 0 60px 0;
    }
    &__commandbtn {
        @include btn;
        @include box-shadow;
        border: none;
        padding: 15px 50px 15px 50px;
    }
    .list__check:hover .list__icon {
        transform: rotate(359deg);
        transition: transform 500ms;
        } 
}

