@use "../src/animations";

/*   HEADER   */
.header {
    position: relative;

    &__nav {
        margin: 15px;
        text-align: center;
        width: 90%;
    }

    &__icon {
        position: absolute;
        left: 50px;
        top: 10px;
        text-decoration: none;
        color: $greytext-color;
        font-size: 20px;
        font-weight: 900;
    }

    &__logo {
        @media (min-width: 992px) {
            margin-left: 8%;
        }
    }
}

/*   MEALS   */
.list {
    &__img {
        width: 100%;
        z-index: 1;
        position: relative;
        max-height: 25rem;
        object-fit: cover;
    }

    &__choices {
        padding: 20px;
        border-radius: 50px 50px 0 0;
        background-color: $primary-background-color;
        margin: -80px 0 0 0;
        z-index: 10;
        position: relative;
    }

    &__title {
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        font-size: 30px;

        @media (max-width: 991px) and (min-width: 768px) {
            text-align: center;
        }
    }

    &__checkbox {
        position: absolute;
        right: 40px;
        top: 50px;
        cursor: pointer;
        font-size: 28px;
    }

    &__checkbox input {
        opacity: 0;
    }

    &__category {
        @media (max-width: 991px) and (min-width: 768px) {
            margin-top: 50px;
        }
    }

    /*   LISTS    */
    &__h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: $grey-color;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 5px;
        width: 40px;

        @media (max-width: 991px) and (min-width: 768px) {
            margin: auto;
            width: 70%;
            text-align: center;

            &__card {
                margin: 15px;
            }
        }
    }

    &__dishes {
        padding-top: 20px;
    }

    &__desserts {
        padding: 20px 0 0 0;
    }

    &__meals {
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }

        background-color: white;
        border-radius: 20px;
        @include box-shadow;
        margin-bottom: 10px;
        position: relative;
        animation: appear 1s;
        animation-fill-mode: both;
        animation: check reverse 1500ms ease-in-out;

        &:hover {
            cursor: pointer;
            @include transform;
        }

        label {
            display: flex;
            cursor: pointer;
        }

        input[type="checkbox"]:checked+.list__check {
            transform: scaleX(1);
            flex: 25%;

            & .list__icon {
                transform: rotate(359deg);
                transition: transform 900ms;
            }
        }

        @media (max-width: 991px) and (min-width: 768px) {
            width: 70%;
            margin: 10px auto;
        }
    }

    &__subtiles {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px;
        flex: 100%;
        @include ellipsis;
    }

    &__infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include ellipsis;
    }

    &__name {
        font-weight: bold;
        margin: 0;
        @include ellipsis;
    }

    &__details {
        margin: 0;
        @include ellipsis;
    }

    &__meals a {
        text-decoration: none;
        color: black;
    }

    &__check {
        @include check;
    }

    &__btn {
        justify-content: center;
        display: flex;
        margin: 40px 0 60px 0;
    }

    &__commandbtn {
        @include btn;
        @include box-shadow;
        border: none;
        padding: 15px 50px 15px 50px;

        &:hover {
            @include transform;
        }
    }

    &__mealscheck {
        display: none;
    }
}